.label {
	background: #333;
	text-shadow: none;
	font-family: sans-serif; /* for readability */
}

.message {
	clear: right;
}

.expanded-form-line span {
	display: block;
	overflow: hidden;
	padding: 0 5px;
}

.expanded-form-line label {
	float: left;
}

.expanded-form-line input {
	/* box-sizing is not strictly needed but is prettier */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

#center {
	bottom: 35px;
}
